name: Benchmark Tests
on: push
jobs:
  build:
    name: Build & Run Benchmark Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -Dbenchmark=on -Dgtest=off
          make
      - name: Run
        run: |
          cd build/benchmark
          ./LightestBenchmarkLightest
      